<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <div class="navbar-brand">
      <div class="navbar-brand espacioLogo">
        <img src="../../../../../assets/logo/logo.png" (click)="menu()" alt="" style="height: 3rem;">
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
        <li class="nav-item puntero">
          <a class="nav-link link text-white display-4" aria-expanded="false">
            Primer Menu</a>
        </li>
        <li class="nav-item puntero">
          <a class="nav-link link text-white display-4" aria-expanded="false">
            Segundo Menu</a>
        </li>
        <li class="nav-item puntero">
          <a class="nav-link link text-white display-4" aria-expanded="false">
            Tercer Menu</a>
        </li>
  
        <li class="nav-item puntero">
          <a class="nav-link link text-white display-4" aria-expanded="false">
            Cuarto Menu</a>
        </li>
        <li class="nav-item puntero">
          <a class="nav-link link text-white display-4" aria-expanded="false">
            Quinto Menu</a>
        </li>
      </ul>
    </div>
  </div>
</nav>