<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar" class="toggleClass">
    <div class="sidebar-header">
      <img src="../../../../../assets/logo/logoMenu.png" alt="" style="height: 5rem;">
    </div>

    <ul class="list-unstyled components">
      <p>Estamos para ti</p>
      <li>
        <a href="#">Inicio</a>
      </li>
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Afíliate</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a href="#">Proceso para afiliarte</a>
          </li>
          <li>
            <a href="#">Sobre el portal transaccional</a>
          </li>
          <li>
            <a href="#">Tus beneficios</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Vivienda</a>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tu salud</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#">IPS Colsubsidio</a>
          </li>
          <li>
            <a href="#">Salud Preferencial</a>
          </li>
          <li>
            <a href="#">Medicamentos</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">Contacto</a>
      </li>
    </ul>

    <ul class="list-unstyled CTAs">
      <li>
        <a href="" class="download">Tiendas en linea</a>
      </li>
      <li>
        <a href="" class="article">Aprende</a>
      </li>
    </ul>
  </nav>
</div>