<footer class="bg-dark text-center text-white">
  <div class="container p-4">
    <section class="mb-4 footerOcultar">

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.linkedin.com/in/carlos-alejandro-castellanos-9a717a92/" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>

    <section class="mb-4">
      <p>
        © Copyright 2022, 
        Algunos derechos reservados.
        AlejandroCastellanos@gmail.com.
        Acerca de este sitio web.
        Actualización: 25/11/2022
      </p>
    </section>
    <section class="footerOcultar">
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Nombre</h5>

          <p class="text-uppercase">Alejandro Castellanos</p>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Celular</h5>

          <p class="text-uppercase">319 3894 506</p>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Correo</h5>

          <p class="text-uppercase">caacastellanosc@gmail.com</p>
        </div>

      </div>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright
  </div>
</footer>